Backup/WebApplication/Web References/AbNormalityServiceReference/AbnormalityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="OverThresholdWebMethod">
        <s:complexType />
      </s:element>
      <s:element name="OverThresholdWebMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OverThresholdWebMethodResult" type="tns:ArrayOfOverThresholdObj" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOverThresholdObj">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OverThresholdObj" nillable="true" type="tns:OverThresholdObj" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OverThresholdObj">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PreDefinedThreshold" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ActualDataValue" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OverThresholdWebMethodSoapIn">
    <wsdl:part name="parameters" element="tns:OverThresholdWebMethod" />
  </wsdl:message>
  <wsdl:message name="OverThresholdWebMethodSoapOut">
    <wsdl:part name="parameters" element="tns:OverThresholdWebMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="AbnormalityServiceSoap">
    <wsdl:operation name="OverThresholdWebMethod">
      <wsdl:input message="tns:OverThresholdWebMethodSoapIn" />
      <wsdl:output message="tns:OverThresholdWebMethodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AbnormalityServiceSoap" type="tns:AbnormalityServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OverThresholdWebMethod">
      <soap:operation soapAction="http://tempuri.org/OverThresholdWebMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AbnormalityServiceSoap12" type="tns:AbnormalityServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OverThresholdWebMethod">
      <soap12:operation soapAction="http://tempuri.org/OverThresholdWebMethod" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AbnormalityService">
    <wsdl:port name="AbnormalityServiceSoap" binding="tns:AbnormalityServiceSoap">
      <soap:address location="http://localhost:26636/zoya/AbnormalityService.asmx" />
    </wsdl:port>
    <wsdl:port name="AbnormalityServiceSoap12" binding="tns:AbnormalityServiceSoap12">
      <soap12:address location="http://localhost:26636/zoya/AbnormalityService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>